.navigation-bar {
  background: #f8f8f8;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204, 204, 204);
  box-shadow: 0 -4px 4px #e2e2e2;
}
.active {
  color: red;
}

.icon {
  font-size: 22px;
}

.label {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 12px;
  line-height: 20px;
}

.active .icon {
  color: red;
}

Button {
  text-align: center;
}