.navigation-bar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204, 204, 204);
  box-shadow: 0 -4px 4px #e2e2e2;
}


.font-icon {
  font-family: 'FontAwesome';
  color: blue;
}
