<ScrollView orientation="vertical">
    <WrapLayout>
    <SearchBar
            hint="Search hint"
            (textChange)="onTextChanged($event)"
            color="black"
            textFieldHintColor="white">
    </SearchBar>
    <StackLayout *ngFor="let data of searchData" class="list-group"  [nsRouterLink]="['/home/topic', lists[data.index].id]" >
        <Label
                class="list-group-item"
                text="{{lists[data.index].name}}"
                textWrap="true">
        </Label>
        <StackLayout *ngFor="let topic of data.searched" class="list-item">
            <Label
            class="list-item"
            text="{{topic.value | searcher : searchText}}"
            textWrap="true">
            </Label>
        </StackLayout>
    </StackLayout>
    </WrapLayout>
</ScrollView>