<ScrollView orientation="vertical">
    <WrapLayout>
    <SearchBar
            hint="Search hint"
            (textChange)="onTextChanged($event)"
            color="black"
            textFieldHintColor="white">
    </SearchBar>
    <StackLayout *ngFor="let data of searchData" class="list-group"  [nsRouterLink]="['/home/topic', lists[data.index].id]" >
        <Label
                class="list-group-item"
                text="{{lists[data.index].name}}"
                textWrap="true">
        </Label>
        <Label *ngFor="let topic of data.searched" textWrap="true" class="list-item">
            <FormattedString>
                <Span text="{{topic.value.part_1}}"></Span>
                <Span text="{{topic.value.searched}}" class="list-item-bold" fontAttributes="Bold"></Span>
                <Span text="{{topic.value.part_2}}"></Span>
            </FormattedString>
        </Label>
    </StackLayout>
    </WrapLayout>
</ScrollView>