.panel {
  background-color: #f2f2f2;
  color: rgb(66, 94, 106);
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0px 1px rgb(255, 255, 255);
}

.list-item {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  color: #000000;
  background: #ffffff;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  box-shadow: 0 4px 4px #e2e2e2;
  width: 100%;
}

.list {
  margin-top: -20px;
}

.list-item.sub-list {
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
