<ScrollView orientation="vertical" class="panel">
    <StackLayout>
        <StackLayout *ngFor="let list of topic.nodes; let i = index">
            <Label
                    *ngIf="list.type == 'p'"
                    class="list-item"
                    text="{{list.value}}"
                    textWrap="true"
            >
            </Label>
            <StackLayout *ngIf="list.type == 'list'" class="list">
                <StackLayout *ngFor="let li of list.value; ">
                    <Label
                            *ngIf="li.type == 'list-item'"
                            class="list-item sub-list"
                            text="{{li.value}}"
                            textWrap="true"
                    >
                    </Label>

                    <StackLayout *ngIf="li.type == 'table'" class="list">
                        <GridLayout columns="*,*" rows="*,*" *ngFor="let rows of li.value; let row = index">
                            <Label
                                    *ngFor="let td of rows.tr; let col = index"
                                    row="{{row}}" col="{{col}}"
                                    class="list-item sub-list table"
                                    text="{{td}}"
                                    textWrap="true"
                            >
                            </Label>
                        </GridLayout>
                    </StackLayout>


                </StackLayout>
            </StackLayout>


        </StackLayout>
    </StackLayout>
</ScrollView>