<ScrollView orientation="vertical" class="panel">
    <StackLayout>
        <StackLayout *ngFor="let list of topic.nodes; let i = index">
            <Label
                    *ngIf="list.type == 'p'"
                    class="list-item"
                    text="{{list.value}}"
                    textWrap="true"
            >
            </Label>
            <StackLayout *ngIf="list.type == 'list'" class="list">
                <StackLayout *ngFor="let li of list.value">
                    <Label
                            *ngIf="li.type == 'list-item'"
                            class="list-item sub-list"
                            text="{{li.value}}"
                            textWrap="true"
                    >
                    </Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>